@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: "Courier New", Courier, monospace;
  color: #000;
  background-color: #fff;
  padding: 20px;
}

.card-container img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.hidden {
  display: none;
}

.card-image {
  cursor: pointer;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .card-image {
    width: 20%;
  }
}
